* {
    margin: 0;
    padding: 0;
    --azul: #001126;
    --azul-claro: #A7FFFF;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
    background: #44a9a944;
}

body::-webkit-scrollbar-thumb {
    background: #44A9A9;
    border-radius: 5px;
}

body {
    background: linear-gradient(160.65deg,
            #66f2f2 -17.4%,
            #44a9a9 48.96%,
            #0354bc 143.34%);
}

/* dropdown */
.dropdown-btn {
    background-image: url(../img/menuMobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    color: #FFF;
    width: 50px;
    height: 50px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown ul {
    list-style: none;
}

.dropdown-content {
    display: none;
    right: 0%;
    position: absolute;
    background-color: var(--azul-claro);
    min-width: 90vw;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 100;
}

.dropdown-content a {
    color: var(--azul);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #19a5a5;
}

.d-none {
    display: none;
}

.dropdown:hover .dropdown-btn {
    background-color: #0d6f6f;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/* Reproductor de audio */
.reproductor {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reproductor h1 {
    color: var(--azul);
    text-align: center;
    font-size: 1.8em;
}

#anterior {
    transform: rotate(180deg);
}

.ctrl {
    display: flex;
    justify-content: center;
    width: 90%;
    z-index: 100;
    align-items: center;
}

#anterior,
#siguiente {
    width: 10%;
    cursor: pointer;
}

.ctrl img {
    margin: 1rem;
}

#back {
    transform: rotate(180deg);
}

audio {
    height: 97vh;
    width: 97%;
    position: absolute;
    top: 0;
}

.reproductor img {
    width: 90%;
    height: 50%;
    border-radius: 30px;
    margin: 2rem 1rem;
}

/* Video de fondo */
header {
    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed;
}

.leyenda {
    position: relative;
    display: flex;
    align-items: center;
}

.leyenda h1 {
    color: #B8E5F8;
    margin: 0;
    text-align: center;
    font-size: 45px;
}

.leyenda p {
    color: #B8E5F8;
    font-size: 30px;
}

.leyenda button img {
    width: 3rem;
}

.logo {
    width: 11rem;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.3;
    /* mix-blend-mode: overlay; */
}

header {
    min-height: 100vh;
    color: var(--azul);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

nav ul {
    display: none;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    width: 80%;
    margin: 7rem 2.4rem 0rem 2.4rem;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 40px;
    line-height: 39px;
}

.hero p {
    font-size: 24px;
}

.hero img {
    margin: 3em 0;
    width: 5rem;
}

.arthas {
    text-align: center;
    min-height: 100vh;
}

.arthas h2 {
    padding: 2rem 0;
    text-transform: capitalize;
}

.arthas img {
    padding: 1rem 0;
    width: 180px;
    height: 205px;
    border-radius: 50%;
}

.arthas p {
    font-size: 18px;
    line-height: 29px;
    margin: 1rem 2rem;
}

.rey {
    background: url(../img/fondos/3.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

footer {
    background: url(../img/fondos/footer.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.copy {
    margin-top: 10rem;
}

footer p {
    color: #FFF;
    font-weight: 300;
}

.frase {
    text-align: center;
    color: #FFF;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    width: 240px;
}

.enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50vh;
    margin-top: 50px;
}

.enlaces a {
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    background: #3B9EB5;
    padding: 13px 0;
    margin-bottom: 50px;
    width: 100%;
    border: 2px solid #0F0A0A;
    box-sizing: border-box;
    box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 90px;

}

.header-img img {
    display: none;
}

button {
    background: none;
    border: none;
}

/* Tablet 768px - 1199px */

@media only screen and (min-width: 768px) {
    .header-img img {
        display: flex;
        width: 60%;
    }

    .dropdown ul li {
        font-size: 1.5rem;
    }

    .hero img {
        margin: 3rem auto;
    }

    .arthas img {
        width: 260px;
        height: 300px;
    }

    .row img {
        margin-top: 5rem;
    }

    .flex {
        width: 90%;
        margin: 5rem auto;
    }

    .flex h2 {
        font-size: 3em;
    }

    .flex p {
        font-size: 1.6rem;
    }
}

/* Desktop 1200px + */
@media only screen and (min-width: 1200px) {
    .dropdown-btn {
        display: none;
    }

    /* Reproductor */
    .reproductor img {
        width: 50%;
        height: 50%;
        border-radius: 30px;
        margin: 2rem 1rem;
    }

    .reproductor h1{
        font-size: 2.5em;
    }

    /* Cabecera */
    header {
        padding: 1rem;
    }

    nav {
        background: rgba(0, 0, 0, 0.21);
        border-radius: 25px;
    }

    nav .dropdown ul {
        display: flex;
        justify-content: flex-end;
    }

    nav .dropdown ul li {
        list-style-type: none;
        margin-right: 1.3rem;
    }

    nav .dropdown ul li a {
        text-decoration: none;
        color: var(--azul-claro);
        font-weight: bold;
        font-size: 22px;
    }

    nav .dropdown ul li a:hover {
        color: #89d0d0;
    }

    .hero {
        margin: 1rem 2.4rem 0rem 2.4rem;
        width: 70%;
    }

    .hero img {
        margin: 2rem 0;
    }

    .header-img img {
        display: block;
        margin-top: 3rem;
        width: 500px;
        border-radius: 50%;
    }

    .header-img div {
        width: 40%;
    }

    .header-img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;
    }

    #arthas .flex img {
        height: 700px;
    }

    .flex {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .flex div p {
        font-size: 24px;
    }

    .flex div h1 {
        font-size: 36px;
    }

    .flex img {
        width: 50%;
        height: 100%;
        border-radius: 0;
        margin: 2rem;
    }

    .row {
        flex-direction: row;
    }

    .enlaces {
        display: flex;
    }

    .enlaces a {
        margin: 1rem;
    }

    .frase {
        font-size: 36px;
        width: 100%;
    }

    .imagenes {
        background: rgba(73, 145, 207, 0.3);
        max-height: 80vh;
        border-radius: 30px;
        margin: 0.9rem auto;
        display: flex;
    }

    .imagenes img {
        /* max-width: 77%; */
        margin: 2rem auto;
        border-radius: 30px;
    }

    #back {
        transform: rotate(-180deg);
    }

    #back,
    #next {
        width: 120px;
    }
}